# unconventional js
/blueprints/*/files/
/vendor/

# compiled output
/dist/
/tmp/

# dependencies
/bower_components/

# misc
/coverage/

# ember-try
/.node_modules.ember-try/

# ember test
/tests

# model 
/app/modules/auth/
/app/modules/student/
/app/modules/user/
/app/modules/bind-teacher-student-time-paper

# tool.js
/app/modules/phtool/

