@import 'bootstrap';

body,
html {
	height: 100%;
	background: #efeff0;
	font-family: "Microsoft Yahei","微软雅黑","宋体",Tahoma,Arial,Helvetica,STHeiti;
	&>:global(.ember-view) {
		height: 100%;
	}
}
@media (min-width: 1440px) {
	:global(.container) {
		padding: 0 20px;
		width: 1400px;
		max-width: 1400px;
	}
}
@media (max-width: 1000px) {
	:global(.container) {
		padding: 0 20px;
		width: 960px;
		min-width: 960px;
	}
}

.application {
	height: 100%;
	width: 100%;

	:global(.container) {
		padding: 0;
		min-width: 960px;
	}
}

:global(.display-none) {
	display: none;
}