<div local-class="head">
	<div local-class="title">
		{{!-- <p>{{t "apm.sysName"}}</p> --}}
		<p>SYS NAME</p>
	</div>
	<div local-class="account">
		{{#bs-dropdown as |dd|}}
			{{#dd.button}}{{data}} <span class="caret"></span>{{/dd.button}}
			{{#dd.menu as |menu|}}
				{{#menu.item}}
					<li {{action 'exitSystem'}}>登出</li>
				{{/menu.item}}
			{{/dd.menu}}
		{{/bs-dropdown}}
	</div>
</div>